<div class="total">

    <div class="heading">

        <h1>Features:</h1>

    </div>

    <ul>

        <div class="features">

            <li>Online Home loan sanction facility</li>

            <li>Quick sanction and low EMI</li>

            <li>Simple documentation</li>

            <li>Online Account Management</li>

            <li>Maximum Tenure of 30 years or attainment of 60 years whichever is earlier</li>

            <li>Amongst the lowest rate of interest</li>

            <li>Available for construction / purchase of house or flat from private developer or housing boards and
                repairs/renovation to the existing properties</li>

            <li>Takeover or balance transfer of existing Home Loans Possible</li>

        </div>

    </ul>

</div>