.heading {
  text-align: center;

  color: rgb(19, 7, 109);

  font-family: Roboto;

  font-size: 10px;

  font-weight: bold;

  font-style: normal;

  text-decoration: underline;
}

.features {
  text-align: justify;

  font-family: roboto;

  font-size: 25px;

  font-weight: normal;
}

.total {
  padding: 10px;

  margin: 5px;
}
