<div class="overall">
    <div class="title">
        <h1>FAQ'S:</h1>
    </div>

    <div class="question1">
        <strong>1.What is a home loan and what can I do with it?</strong>
    </div>

    <div class="answer1">
        <p>
            A home loan, or a house loan, allows you to purchase the home of your dreams without having to pay for it
            upfront.
            Depending on your home loan eligibility, you can secure a loan that is as high as 90% of the value of the
            property.
            You can check home loan eligibility in many ways, be it online, through our app.

        </p>
    </div>

    <div class="question2">
        <strong>2.Do I need a guarantor?</strong>
    </div>
    <div class="answer2">
        <p>
            No, you don’t need a guarantor to apply for house loan.
        </p>
    </div>
    <div class="question3">
        <strong>3.How will my EMI be calculated?</strong>
    </div>

    <div class="answer3">
        <p>
            Your EMI consists of two components, the principal amount and the interest rate charged on the principal.
            The factors that determine the EMI are the amount you borrow, the rate of interest applied and the loan
            tenure.
            EMIs can vary if the interest rate changes.
            You can reduce your EMI amount by paying back more than you are required to; this is called a partial
            prepayment.
        </p>
    </div>
    <div class="question4">
        <strong>4.I have a question that is not listed here; what do I do?</strong>
    </div>

    <div class="answer4">
        <p>
            We will be glad to help you with any questions regarding this online home loan application.
            you can reach us through the contact number, or you can mail us. where we provided our details at contact in
            home page
        </p>
    </div>

    <div class="question5">
        <strong>5.Is taking home loan insurance mandatory?</strong>
    </div>
    <div class="answer5">
        <p>
            No. Home loan insurance is not mandatory.
            However, it is advisable that you buy insurance for protection against any unforeseeable circumstances.
        </p>
    </div>

    <div class="question6">
        <strong>6.When does my home loan EMIs start?</strong>
    </div>
    <div class="answer6">
        <p>
            EMI's begins from the month subsequent to the month in which disbursement of the loan is done.
            For loans for under-construction properties EMI usually begins after the complete home loan is disbursed but
            customers can choose to begin their Emi’s as soon as they avail their first disbursement and their EMI’s
            will increase proportionately with every subsequent disbursement.
            For resale cases, since the whole loan amount is disbursed in one go, EMI on the whole loan amount start
            from the subsequent to the month of disbursement
        </p>
    </div>

    <div class="question7">
        <strong>7.When can I make a home loan application?</strong>
    </div>
    <div class="answer7">
        <p>
            You can apply for housing loans at any time once you have decided to purchase or construct a property,
            even if you have not selected the property or the construction has not commenced.
            You can even apply for a home loan whilst you are working abroad, to plan for your return to India in
            future.
        </p>
    </div>
</div>