<div class="about-Layer">
    <div class="img-Layer">
        <div class="img-Text">
            <span class="img-Heading">About Us</span>
            <span class="img-Body">OHL is the largest Mortgage Lender in India, which has helped over 30 lakh
                families to achieve the dream of owning a home. The Company went public in 1994 and since then its
                stocks are listed and actively traded on the National Stock Exchange (NSE) and Bombay Stock Exchange
                Limited (BSE). We have provided finance to builders and developers engaged in the business of
                construction of houses or flats for residential purpose and to be sold by them.</span>
        </div>
        <img src="assets/images/aboutPic.jpg" alt="img" />
    </div>
    <div class="about-Info container-fluid">
        <span class="about-Heading">Our Values</span>
        <ul>
            <li>Trust</li>
            <li>Transparency</li>
            <li>Integrity</li>
            <li>Excellence</li>
        </ul>
        <span class="about-Heading">Value to Customers</span>
        <ul>
            <li>Wide Product Range</li>
            <li>Interest Calculation on Daily Reducing Balance</li>
            <li>Overdraft Facility available</li>
            <li>Low Interest Rates</li>
            <li>Low Processing Fees</li>
            <li>No Hidden Costs</li>
            <li>No Pre-payment penalty</li>
        </ul>
        <span class="about-Heading">Our Presence</span>
        <ul>
            <li>40+ branches</li>
            <li>900+ member strong dedicated Sales Team</li>
            <li>Integrity</li>
            <li>Excellence</li>
        </ul>
        <span class="about-Heading">Recognitions</span>
        <ul>
            <li>Winner of the “Best Home Loan Provider “at the CNBZ Awaaz Real Estate Awards 2016</li>
        </ul>
    </div>
</div>